# 0) Chargement de spark

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

# 1) Lire de la donnée

## 1.1) Lecture brute

Chargez le fichier ville_1.csv dans une variable nommée df.

Vous pouvez afficher votre donnée en utilisant la méthode take() ou la methode collect() de l'objet pyspark DataFrame (attention appeler collect() sur un dataframe est déconseillé si vous avez du vrai big data).

L'objet possède aussi un attribut appelé dtypes, appelez cet attribut pour obtenir la liste des colonnes et leur type.

In [6]:
path = "./data/Villes/ville_1.csv"
df = spark.read.load(path, format="csv")
df.dtypes

[('_c0', 'string'),
 ('_c1', 'string'),
 ('_c2', 'string'),
 ('_c3', 'string'),
 ('_c4', 'string'),
 ('_c5', 'string'),
 ('_c6', 'string'),
 ('_c7', 'string'),
 ('_c8', 'string'),
 ('_c9', 'string'),
 ('_c10', 'string'),
 ('_c11', 'string'),
 ('_c12', 'string')]

## 1.2) Lecture avec les entêtes

Recharger le même fichier mais cette fois-ci utilisez l'option header pour rajouter les noms de colonnes à votre df.

Appelez l'attribut dtypes et comparez la sortie avec celle de la lecture brute.

In [3]:
 df = spark.read.format('csv').options(header=True).load(path)
df.dtypes

[('id', 'string'),
 ('vitesse_a_pied', 'string'),
 ('vitesse_a_velo', 'string'),
 ('home', 'string'),
 ('travail', 'string'),
 ('sportif', 'string'),
 ('casseur', 'string'),
 ('statut', 'string'),
 ('salaire', 'string'),
 ('sexe', 'string'),
 ('age', 'string'),
 ('sportivite', 'string'),
 ('velo_perf_minimale', 'string')]

## 1.3) Lecture avec les types détectés automatiquement

Recharger le fichier avec  l'option inferShema.

L'option 'inferSchema' permet de transformer les colonnes en types plus précis : entier  / booléens / chaines de caractères... bien sûr spark trouve les types uniquement si le fichier d'origine permet de les trouver de manière simple

In [7]:
df = spark.read.format('csv').options(header=True, inferSchema=True).load(path)
df.dtypes

[('id', 'int'),
 ('vitesse_a_pied', 'double'),
 ('vitesse_a_velo', 'double'),
 ('home', 'string'),
 ('travail', 'string'),
 ('sportif', 'boolean'),
 ('casseur', 'boolean'),
 ('statut', 'string'),
 ('salaire', 'double'),
 ('sexe', 'string'),
 ('age', 'int'),
 ('sportivite', 'double'),
 ('velo_perf_minimale', 'double')]

In [5]:
df.take(5)

[Row(id=5251, vitesse_a_pied=0.02, vitesse_a_velo=0.05, home='(lon:26.60 lat:28.13)', travail='(lon:21.08 lat:14.11)', sportif=False, casseur=False, statut='reserviste', salaire=29800.610034665042, sexe='F', age=18, sportivite=0.1, velo_perf_minimale=0.4),
 Row(id=5252, vitesse_a_pied=0.14974625830876215, vitesse_a_velo=0.37436564577190534, home='(lon:0.26 lat:42.61)', travail='(lon:36.35 lat:33.28)', sportif=False, casseur=False, statut='professeur', salaire=23595.44383981423, sexe='F', age=28, sportivite=0.7487312915438107, velo_perf_minimale=0.4),
 Row(id=5253, vitesse_a_pied=0.6309711587089704, vitesse_a_velo=1.6825897565572543, home='(lon:3.34 lat:13.95)', travail='(lon:24.75 lat:48.15)', sportif=False, casseur=False, statut='technicien_de_surface', salaire=18530.14776280135, sexe='H', age=65, sportivite=2.103237195696568, velo_perf_minimale=0.4),
 Row(id=5254, vitesse_a_pied=0.04009596300649916, vitesse_a_velo=0.10692256801733109, home='(lon:19.54 lat:43.69)', travail='(lon:38.57 lat:42.65)', sportif=False, casseur=False, statut='technicien_de_surface', salaire=18997.60281005325, sexe='H', age=26, sportivite=0.13365321002166386, velo_perf_minimale=0.4),
 Row(id=5255, vitesse_a_pied=0.02, vitesse_a_velo=0.05, home='(lon:28.51 lat:41.70)', travail='(lon:17.67 lat:25.16)', sportif=False, casseur=False, statut='éboueur', salaire=23618.479750220806, sexe='F', age=50, sportivite=0.1, velo_perf_minimale=0.4)]

## 1.4) L'attribut schema

Il vous permet d'afficher le schéma de votre df, avec pour chaque colonne son nom, son type, et si elle accepte les valeurs nulles ou non.

In [6]:
df.schema

StructType(List(StructField(id,IntegerType,true),StructField(vitesse_a_pied,DoubleType,true),StructField(vitesse_a_velo,DoubleType,true),StructField(home,StringType,true),StructField(travail,StringType,true),StructField(sportif,BooleanType,true),StructField(casseur,BooleanType,true),StructField(statut,StringType,true),StructField(salaire,DoubleType,true),StructField(sexe,StringType,true),StructField(age,IntegerType,true),StructField(sportivite,DoubleType,true),StructField(velo_perf_minimale,DoubleType,true)))

Vous avez aussi la méthode printSchema() qui permet d'afficher le shéma du df de manière plus lisible.

In [7]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- vitesse_a_pied: double (nullable = true)
 |-- vitesse_a_velo: double (nullable = true)
 |-- home: string (nullable = true)
 |-- travail: string (nullable = true)
 |-- sportif: boolean (nullable = true)
 |-- casseur: boolean (nullable = true)
 |-- statut: string (nullable = true)
 |-- salaire: double (nullable = true)
 |-- sexe: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- sportivite: double (nullable = true)
 |-- velo_perf_minimale: double (nullable = true)

# 2) Ecriture de la dataframe sur le disque

Sauvegardez le df sous différents formats.

## 2.1) choix du format : csv

In [8]:
df.write.format("csv").save("./data/Villes/csv")

## 2.2) choix du format : parquet

In [9]:
df.write.format("parquet").save("./data/Villes/parquet")

## 2.3) choix du format : json

In [10]:
df.write.save("./data/Villes/ville", format="json")

## 2.4) Lecture de différents formats

Vous pouvez choisir de lire le df sous un format ou un autre en utilisant l'argument format dans la fonction spark.read.load

In [11]:
# le ! vous permet d'executer des commandes dans votre terminal depuis le notebook
!ls ./data/Villes/ville/

part-00000-c4a746cc-eba4-4649-acaa-72e73e13b1a2-c000.json  _SUCCESS

In [12]:
df_json = spark.read.load("./data/Villes/ville/", format="json")

In [ ]:
df_parquet = spark.read.load("./data/Villes/parquet", format="parquet")

# 3) Calculer des résultats : les actions

## 3.1) Nombre de lignes : count

Chargez les fichiers csv contenus dans le dossiers ./data/Cyclistes/ dans un df nommé cyclistes, puis comptez les lignes du dataframe obtenu.

In [13]:
cyclistes = spark.read.load("./data/Cyclistes/", format="csv", header=True, inferSchema="True")

In [9]:
cyclistes.take(5)

[Row(id=246, timestamp='2018-01-01 00:01:00', sur_velo=False, velo='False', vitesse=0.02, position='(lon:22.62 lat:9.63)', destination_finale='False'),
 Row(id=246, timestamp='2018-01-01 00:02:00', sur_velo=False, velo='False', vitesse=0.02, position='(lon:22.62 lat:9.63)', destination_finale='False'),
 Row(id=246, timestamp='2018-01-01 00:03:00', sur_velo=False, velo='False', vitesse=0.02, position='(lon:22.62 lat:9.63)', destination_finale='False'),
 Row(id=246, timestamp='2018-01-01 00:04:00', sur_velo=False, velo='False', vitesse=0.02, position='(lon:22.62 lat:9.63)', destination_finale='False'),
 Row(id=246, timestamp='2018-01-01 00:05:00', sur_velo=False, velo='False', vitesse=0.02, position='(lon:22.62 lat:9.63)', destination_finale='False')]

In [15]:
cyclistes.count()

4868396

Afficher le schéma de ce nouveau df

In [17]:
cyclistes.schema

StructType(List(StructField(id,IntegerType,true),StructField(timestamp,StringType,true),StructField(sur_velo,BooleanType,true),StructField(velo,StringType,true),StructField(vitesse,DoubleType,true),StructField(position,StringType,true),StructField(destination_finale,StringType,true)))

Affichez 10 lignes du df.

In [16]:
cyclistes.take(5)

[Row(id=246, timestamp='2018-01-01 00:01:00', sur_velo=False, velo='False', vitesse=0.02, position='(lon:22.62 lat:9.63)', destination_finale='False'),
 Row(id=246, timestamp='2018-01-01 00:02:00', sur_velo=False, velo='False', vitesse=0.02, position='(lon:22.62 lat:9.63)', destination_finale='False'),
 Row(id=246, timestamp='2018-01-01 00:03:00', sur_velo=False, velo='False', vitesse=0.02, position='(lon:22.62 lat:9.63)', destination_finale='False'),
 Row(id=246, timestamp='2018-01-01 00:04:00', sur_velo=False, velo='False', vitesse=0.02, position='(lon:22.62 lat:9.63)', destination_finale='False'),
 Row(id=246, timestamp='2018-01-01 00:05:00', sur_velo=False, velo='False', vitesse=0.02, position='(lon:22.62 lat:9.63)', destination_finale='False')]

## 3.2) Moyenne : agg + colonne + mean

A l'aide de la méthode agg(), calculez la moyenne sur la colonne vitesse.

Vous pouvez récuperer le résultat avec la méthode collect().

In [61]:
cyclistes.agg({'vitesse': 'avg'}).show()

+------------------+
|      avg(vitesse)|
+------------------+
|0.5635749865179047|
+------------------+

## 3.3) Quantile approximatifs pour gagner du temps de calcul

En statistiques et en théorie des probabilités, les quantiles sont les valeurs qui divisent un jeu de données en intervalles contenant le même nombre de données. Il y a donc un quantile de moins que le nombre de groupes créés. Ainsi les quartiles sont les trois quantiles qui divisent un ensemble de données en quatre groupes de taille égale.

La méthode approxQuantile permet de laisser une tolérance a l'erreur ce qui réduit le temps de calul sur d'énormes jeux de données.

In [20]:
import time

In [21]:
def calcul_quantile(df, erreur_acceptee):
    debut            = time.time()
    colonne          = "vitesse"
    quantiles_voulus = [0.25, 0.50, 0.75]
    resultat         =  df.approxQuantile(colonne, quantiles_voulus , erreur_acceptee )
    fin              = time.time()
    delais           = fin -debut
    print ("delais =%.2f sec, quantiles = %s"%(delais, resultat))

In [24]:
calcul_quantile(cyclistes, 0.05)

delais =5.63 sec, quantiles = [0.12867630286773463, 0.43636692359214846, 0.8358087561374254]

In [23]:
calcul_quantile(cyclistes, 0.01)

delais =5.88 sec, quantiles = [0.13351057325728508, 0.467745329783825, 0.8357066787865304]

In [20]:
calcul_quantile(cyclistes, 0)

delais =18.88 sec, quantiles = [0.13922027425674244, 0.467745329783825, 0.8358087561374254]

## Reload de la dataframe villes

Chargez le fichier villes dans un df nommé villes.

In [11]:
villes = spark.read.load("./data/Villes/", format="csv", header=True, inferSchema="True")
villes.printSchema()

root
 |-- id: integer (nullable = true)
 |-- vitesse_a_pied: double (nullable = true)
 |-- vitesse_a_velo: double (nullable = true)
 |-- home: string (nullable = true)
 |-- travail: string (nullable = true)
 |-- sportif: boolean (nullable = true)
 |-- casseur: boolean (nullable = true)
 |-- statut: string (nullable = true)
 |-- salaire: double (nullable = true)
 |-- sexe: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- sportivite: double (nullable = true)
 |-- velo_perf_minimale: double (nullable = true)

In [26]:
villes.take(10)

[Row(id=5251, vitesse_a_pied=0.02, vitesse_a_velo=0.05, home='(lon:26.60 lat:28.13)', travail='(lon:21.08 lat:14.11)', sportif=False, casseur=False, statut='reserviste', salaire=29800.610034665042, sexe='F', age=18, sportivite=0.1, velo_perf_minimale=0.4),
 Row(id=5252, vitesse_a_pied=0.14974625830876215, vitesse_a_velo=0.37436564577190534, home='(lon:0.26 lat:42.61)', travail='(lon:36.35 lat:33.28)', sportif=False, casseur=False, statut='professeur', salaire=23595.44383981423, sexe='F', age=28, sportivite=0.7487312915438107, velo_perf_minimale=0.4),
 Row(id=5253, vitesse_a_pied=0.6309711587089704, vitesse_a_velo=1.6825897565572543, home='(lon:3.34 lat:13.95)', travail='(lon:24.75 lat:48.15)', sportif=False, casseur=False, statut='technicien_de_surface', salaire=18530.14776280135, sexe='H', age=65, sportivite=2.103237195696568, velo_perf_minimale=0.4),
 Row(id=5254, vitesse_a_pied=0.04009596300649916, vitesse_a_velo=0.10692256801733109, home='(lon:19.54 lat:43.69)', travail='(lon:38.57 lat:42.65)', sportif=False, casseur=False, statut='technicien_de_surface', salaire=18997.60281005325, sexe='H', age=26, sportivite=0.13365321002166386, velo_perf_minimale=0.4),
 Row(id=5255, vitesse_a_pied=0.02, vitesse_a_velo=0.05, home='(lon:28.51 lat:41.70)', travail='(lon:17.67 lat:25.16)', sportif=False, casseur=False, statut='éboueur', salaire=23618.479750220806, sexe='F', age=50, sportivite=0.1, velo_perf_minimale=0.4),
 Row(id=5256, vitesse_a_pied=0.8655449921165502, vitesse_a_velo=2.308119978977467, home='(lon:44.85 lat:45.65)', travail='(lon:9.18 lat:11.05)', sportif=False, casseur=False, statut='employe', salaire=19082.30894283764, sexe='H', age=57, sportivite=2.885149973721834, velo_perf_minimale=0.4),
 Row(id=5257, vitesse_a_pied=0.5879992290928728, vitesse_a_velo=1.4699980727321822, home='(lon:42.06 lat:43.69)', travail='(lon:0.51 lat:24.89)', sportif=False, casseur=False, statut='reserviste', salaire=21782.945135729053, sexe='F', age=75, sportivite=2.9399961454643644, velo_perf_minimale=0.4),
 Row(id=5258, vitesse_a_pied=0.8306610123216782, vitesse_a_velo=2.215096032857809, home='(lon:24.87 lat:16.06)', travail='(lon:36.80 lat:48.41)', sportif=False, casseur=False, statut='cadre', salaire=41451.270468058414, sexe='H', age=74, sportivite=2.768870041072261, velo_perf_minimale=0.4),
 Row(id=5259, vitesse_a_pied=0.12542885835859416, vitesse_a_velo=0.3344769556229178, home='(lon:9.07 lat:17.28)', travail='(lon:4.80 lat:9.81)', sportif=False, casseur=False, statut='technicien_de_surface', salaire=22025.17074872747, sexe='H', age=57, sportivite=0.4180961945286472, velo_perf_minimale=0.4),
 Row(id=5260, vitesse_a_pied=0.030000000000000006, vitesse_a_velo=0.08, home='(lon:37.12 lat:43.64)', travail='(lon:24.72 lat:13.53)', sportif=False, casseur=False, statut='reserviste', salaire=38211.06301426453, sexe='H', age=24, sportivite=0.1, velo_perf_minimale=0.4)]

## 3.4) corrélation

En probabilités et en statistique, la corrélation entre plusieurs variables aléatoires ou statistiques est une notion de liaison qui contredit leur indépendance.

Calculez la corrélation entre les colonnes age et vitesse_a_velo.

In [32]:
villes.corr('age','vitesse_a_velo')

-0.017835846281407743

## 3.5) covariance

La covariance entre deux variables aléatoires est un nombre permettant de quantifier leurs écarts conjoints par rapport à leurs espérances respectives. Elle s’utilise également pour deux séries de données numériques (écarts par rapport aux moyennes).
La covariance est une extension de la notion de variance. La corrélation est une forme normalisée de la covariance.

Calculez la covariance entre les colonnes age et vitesse_a_velo.

In [33]:
villes.cov('age','vitesse_a_velo')

-0.4752524914308339

## 3.6) sample

La méthode sample() permet de tirer aléatoirement une fraction du dataframe.
Stockez dans un nouveau dataframe nommée villes_1pct, une fraction egale à 1% du df. Comptez le nombre de lignes obtenu.

In [60]:
villes_1pct = villes.sample(True, fraction=0.01)
villes_1pct.show()

+----+-------------------+-------------------+--------------------+--------------------+-------+-------+--------------------+------------------+----+---+------------------+------------------+
|  id|     vitesse_a_pied|     vitesse_a_velo|                home|             travail|sportif|casseur|              statut|           salaire|sexe|age|        sportivite|velo_perf_minimale|
+----+-------------------+-------------------+--------------------+--------------------+-------+-------+--------------------+------------------+----+---+------------------+------------------+
|5351| 1.5912476998003124|    4.2433271994675|(lon:19.75 lat:33...|(lon:19.96 lat:2.67)|  false|  false|technicien_de_sur...|19470.490974662098|   H| 33| 5.304158999334375|               0.4|
|5474| 1.0549993188453546| 2.6374982971133867|(lon:28.85 lat:5.61)|(lon:42.81 lat:44...|  false|  false|technicien_de_sur...| 23224.53630730813|   F| 80| 5.274996594226773|               0.4|
|5505| 1.1134903901142348| 2.9693077069712928|(lon:33.90 lat:47...|(lon:37.79 lat:2.76)|  false|  false|               cadre|23236.745750522525|   H| 32| 3.711634633714116|               0.4|
|5567|0.38130174011496065| 1.0168046403065616|(lon:11.37 lat:33...|(lon:19.87 lat:39...|  false|  false|             éboueur|17305.169136800963|   H| 61| 1.271005800383202|               0.4|
|5625|  0.359861905824156|  0.959631748864416|(lon:9.11 lat:34.27)|(lon:38.37 lat:0.71)|  false|  false|             employe|28550.496571745203|   H| 71|  1.19953968608052|               0.4|
|5935|0.26736737826697554| 0.7129796753786014|(lon:46.46 lat:3.42)|(lon:20.29 lat:10...|  false|  false|             éboueur| 29252.84952806354|   H| 74|0.8912245942232517|               0.4|
|6011| 0.6953453209071592|  1.738363302267898|(lon:29.97 lat:7.52)|(lon:0.79 lat:19.68)|  false|  false|             employe| 20897.66653544601|   F| 41| 3.476726604535796|               0.4|
|6108|   1.05503730340796| 2.8134328090878937|(lon:20.58 lat:30...|(lon:44.07 lat:39...|  false|  false|          professeur| 34033.59816764861|   H| 18|3.5167910113598673|               0.4|
|6111| 1.4657256671918222| 3.9086017791781926|(lon:45.51 lat:42...|(lon:25.04 lat:1.17)|  false|  false|               cadre|32105.303377977812|   H| 75| 4.885752223972741|               0.4|
|6153|0.16147867807602415|0.40369669519006035|(lon:0.72 lat:23.90)|(lon:26.76 lat:27...|  false|  false|             employe|26168.556136139545|   F| 23|0.8073933903801207|               0.4|
|6160|  0.166112572169783|0.41528143042445753|(lon:3.26 lat:16.33)|(lon:48.25 lat:12...|  false|  false|               cadre|19774.286980162422|   F| 75|0.8305628608489151|               0.4|
+----+-------------------+-------------------+--------------------+--------------------+-------+-------+--------------------+------------------+----+---+------------------+------------------+

A l'aide de la méthode exceptAll(), compter le nombre de ligne dans ville en omettant la fraction contenu dans ville_1pct

In [44]:
villes.exceptAll(villes_1pct).count()

1074

## 3.7) filter 

La méthode filter() permet le df selon certaines valeurs dans les colonnes.

Utilisez cette méthode pour récuperer seulement les lignes avec le sexe féminin.

In [47]:
villes.filter(villes.sexe == 'F').show()

+----+-------------------+-------------------+--------------------+--------------------+-------+-------+--------------------+------------------+----+---+-------------------+------------------+
|  id|     vitesse_a_pied|     vitesse_a_velo|                home|             travail|sportif|casseur|              statut|           salaire|sexe|age|         sportivite|velo_perf_minimale|
+----+-------------------+-------------------+--------------------+--------------------+-------+-------+--------------------+------------------+----+---+-------------------+------------------+
|5251|               0.02|               0.05|(lon:26.60 lat:28...|(lon:21.08 lat:14...|  false|  false|          reserviste|29800.610034665042|   F| 18|                0.1|               0.4|
|5252|0.14974625830876215|0.37436564577190534|(lon:0.26 lat:42.61)|(lon:36.35 lat:33...|  false|  false|          professeur| 23595.44383981423|   F| 28| 0.7487312915438107|               0.4|
|5255|               0.02|               0.05|(lon:28.51 lat:41...|(lon:17.67 lat:25...|  false|  false|             éboueur|23618.479750220806|   F| 50|                0.1|               0.4|
|5257| 0.5879992290928728| 1.4699980727321822|(lon:42.06 lat:43...|(lon:0.51 lat:24.89)|  false|  false|          reserviste|21782.945135729053|   F| 75| 2.9399961454643644|               0.4|
|5262|               0.02|               0.05|(lon:43.40 lat:25...|(lon:1.76 lat:18.95)|  false|  false|             employe|18155.392787144123|   F| 81|                0.1|               0.4|
|5264| 0.6272243144514219| 1.5680607861285547|(lon:14.36 lat:33...|(lon:38.49 lat:41...|  false|  false|             éboueur|17894.342734488273|   F| 50| 3.1361215722571094|               0.4|
|5266| 0.3167145553844886| 0.7917863884612215|(lon:44.53 lat:46...|(lon:31.66 lat:26...|  false|  false|          professeur| 32340.37164134604|   F| 74|  1.583572776922443|               0.4|
|5271| 1.0637049252038342| 2.6592623130095854|(lon:7.35 lat:15.97)|(lon:23.48 lat:16...|  false|  false|               cadre|40170.674584023254|   F| 44|  5.318524626019171|               0.4|
|5273|               0.02|               0.05|(lon:43.99 lat:14...|(lon:0.71 lat:35.14)|  false|  false|               cadre|30516.740487109822|   F| 39|                0.1|               0.4|
|5276|               0.02|               0.05|(lon:35.60 lat:24...| (lon:9.45 lat:2.69)|  false|  false|             éboueur|21737.026343329253|   F| 61|                0.1|               0.4|
|5277|0.33500607931826865| 0.8375151982956716|(lon:8.24 lat:42.40)|(lon:48.64 lat:32...|  false|  false|             éboueur|25013.554133869537|   F| 39| 1.6750303965913431|               0.4|
|5278| 0.5612935671493225| 1.4032339178733064|(lon:3.60 lat:46.81)|(lon:0.23 lat:12.28)|  false|  false|             employe| 18306.64291062094|   F| 50|  2.806467835746613|               0.4|
|5282| 0.8083175494888819| 2.0207938737222046|(lon:25.86 lat:5.51)|(lon:8.71 lat:13.09)|  false|  false|technicien_de_sur...|18011.276236369988|   F| 19|  4.041587747444409|               0.4|
|5283| 1.2832501378500005| 3.2081253446250018|(lon:46.08 lat:3.40)|(lon:27.09 lat:47...|  false|  false|          professeur|24156.157989107276|   F| 53|  6.416250689250003|               0.4|
|5284| 1.0364869412773074| 2.5912173531932687|(lon:30.00 lat:45...|(lon:2.79 lat:41.57)|  false|  false|technicien_de_sur...|18739.963697232994|   F| 35| 5.1824347063865375|               0.4|
|5287|0.39938204132234967| 0.9984551033058742|(lon:45.02 lat:36...|(lon:33.44 lat:19...|  false|  false|          professeur|17011.719150211684|   F| 60| 1.9969102066117483|               0.4|
|5288|0.09886577398124681|0.24716443495311702|(lon:21.03 lat:37...|(lon:33.67 lat:15...|  false|  false|             éboueur| 26756.93457723109|   F| 28|0.49432886990623404|               0.4|
|5290|0.44011923092468674| 1.1002980773117168|(lon:5.70 lat:24.77)|(lon:41.90 lat:37...|  false|  false|             éboueur| 19038.02354817647|   F| 84| 2.2005961546234336|               0.4|
|5291| 0.4525302271634198| 1.1313255679085494|(lon:13.50 lat:11...|(lon:35.01 lat:32...|  false|  false|             employe|16135.720678961883|   F| 46|  2.262651135817099|               0.4|
|5292|               0.02|               0.05| (lon:6.05 lat:1.69)|(lon:34.49 lat:47...|  false|  false|             éboueur|  25233.0748967296|   F| 66|                0.1|               0.4|
+----+-------------------+-------------------+--------------------+--------------------+-------+-------+--------------------+------------------+----+---+-------------------+------------------+
only showing top 20 rows

On peux aussi filtrer le df avec la méthode where(). Filtrez le df de la même façon que precedemment en utilisant cette méthode.

In [55]:
villes.where(villes.sexe == 'F').show()

+----+-------------------+-------------------+--------------------+--------------------+-------+-------+--------------------+------------------+----+---+-------------------+------------------+
|  id|     vitesse_a_pied|     vitesse_a_velo|                home|             travail|sportif|casseur|              statut|           salaire|sexe|age|         sportivite|velo_perf_minimale|
+----+-------------------+-------------------+--------------------+--------------------+-------+-------+--------------------+------------------+----+---+-------------------+------------------+
|5251|               0.02|               0.05|(lon:26.60 lat:28...|(lon:21.08 lat:14...|  false|  false|          reserviste|29800.610034665042|   F| 18|                0.1|               0.4|
|5252|0.14974625830876215|0.37436564577190534|(lon:0.26 lat:42.61)|(lon:36.35 lat:33...|  false|  false|          professeur| 23595.44383981423|   F| 28| 0.7487312915438107|               0.4|
|5255|               0.02|               0.05|(lon:28.51 lat:41...|(lon:17.67 lat:25...|  false|  false|             éboueur|23618.479750220806|   F| 50|                0.1|               0.4|
|5257| 0.5879992290928728| 1.4699980727321822|(lon:42.06 lat:43...|(lon:0.51 lat:24.89)|  false|  false|          reserviste|21782.945135729053|   F| 75| 2.9399961454643644|               0.4|
|5262|               0.02|               0.05|(lon:43.40 lat:25...|(lon:1.76 lat:18.95)|  false|  false|             employe|18155.392787144123|   F| 81|                0.1|               0.4|
|5264| 0.6272243144514219| 1.5680607861285547|(lon:14.36 lat:33...|(lon:38.49 lat:41...|  false|  false|             éboueur|17894.342734488273|   F| 50| 3.1361215722571094|               0.4|
|5266| 0.3167145553844886| 0.7917863884612215|(lon:44.53 lat:46...|(lon:31.66 lat:26...|  false|  false|          professeur| 32340.37164134604|   F| 74|  1.583572776922443|               0.4|
|5271| 1.0637049252038342| 2.6592623130095854|(lon:7.35 lat:15.97)|(lon:23.48 lat:16...|  false|  false|               cadre|40170.674584023254|   F| 44|  5.318524626019171|               0.4|
|5273|               0.02|               0.05|(lon:43.99 lat:14...|(lon:0.71 lat:35.14)|  false|  false|               cadre|30516.740487109822|   F| 39|                0.1|               0.4|
|5276|               0.02|               0.05|(lon:35.60 lat:24...| (lon:9.45 lat:2.69)|  false|  false|             éboueur|21737.026343329253|   F| 61|                0.1|               0.4|
|5277|0.33500607931826865| 0.8375151982956716|(lon:8.24 lat:42.40)|(lon:48.64 lat:32...|  false|  false|             éboueur|25013.554133869537|   F| 39| 1.6750303965913431|               0.4|
|5278| 0.5612935671493225| 1.4032339178733064|(lon:3.60 lat:46.81)|(lon:0.23 lat:12.28)|  false|  false|             employe| 18306.64291062094|   F| 50|  2.806467835746613|               0.4|
|5282| 0.8083175494888819| 2.0207938737222046|(lon:25.86 lat:5.51)|(lon:8.71 lat:13.09)|  false|  false|technicien_de_sur...|18011.276236369988|   F| 19|  4.041587747444409|               0.4|
|5283| 1.2832501378500005| 3.2081253446250018|(lon:46.08 lat:3.40)|(lon:27.09 lat:47...|  false|  false|          professeur|24156.157989107276|   F| 53|  6.416250689250003|               0.4|
|5284| 1.0364869412773074| 2.5912173531932687|(lon:30.00 lat:45...|(lon:2.79 lat:41.57)|  false|  false|technicien_de_sur...|18739.963697232994|   F| 35| 5.1824347063865375|               0.4|
|5287|0.39938204132234967| 0.9984551033058742|(lon:45.02 lat:36...|(lon:33.44 lat:19...|  false|  false|          professeur|17011.719150211684|   F| 60| 1.9969102066117483|               0.4|
|5288|0.09886577398124681|0.24716443495311702|(lon:21.03 lat:37...|(lon:33.67 lat:15...|  false|  false|             éboueur| 26756.93457723109|   F| 28|0.49432886990623404|               0.4|
|5290|0.44011923092468674| 1.1002980773117168|(lon:5.70 lat:24.77)|(lon:41.90 lat:37...|  false|  false|             éboueur| 19038.02354817647|   F| 84| 2.2005961546234336|               0.4|
|5291| 0.4525302271634198| 1.1313255679085494|(lon:13.50 lat:11...|(lon:35.01 lat:32...|  false|  false|             employe|16135.720678961883|   F| 46|  2.262651135817099|               0.4|
|5292|               0.02|               0.05| (lon:6.05 lat:1.69)|(lon:34.49 lat:47...|  false|  false|             éboueur|  25233.0748967296|   F| 66|                0.1|               0.4|
+----+-------------------+-------------------+--------------------+--------------------+-------+-------+--------------------+------------------+----+---+-------------------+------------------+
only showing top 20 rows

# 4) Transformer la données : les transformations!

## Transformations : demandent à être suivi par un collect ou une action (count par exemple)

## 4.1) Obtenir des statistiques sur les colonnes numériques

La méthode describe() permet de calculer les statistiques récapitulatives d'une ou plusieurs colonnes numériques dans un df. Si le nom des colonnes n'est pas spécifié, la méthode calculera des statistiques récapitulatives pour toutes les colonnes numériques présentes dans le df.

Afficher les statistiques de la colonne age.

In [53]:
villes.describe("age").show()

+-------+------------------+
|summary|               age|
+-------+------------------+
|  count|              1083|
|   mean| 49.30655586334257|
| stddev|20.009984186582763|
|    min|                15|
|    max|                84|
+-------+------------------+

## 4.2) groupby

La méthode groupBy() suivie de la methode agg() permet de grouper le df selon les catgories d'une ou plusieurs colonnes pour faire des calculs sur ces catégories.

Calculez la moyenne de la colonnes sportivité selon le sexe des personnes.

In [58]:
villes.groupBy(villes.sexe).agg({'sportivite': 'avg'}).show()

+----+-----------------+
|sexe|  avg(sportivite)|
+----+-----------------+
|   F|2.201847229112897|
|   H|2.161359149481709|
+----+-----------------+

Calculez la moyenne de la colonne age et la valeur max de la colonne sportivité par sexe.

In [63]:
villes.groupBy(villes.sexe).agg({'age': 'avg', 'sportivite': 'max'}).show()

+----+-----------------+------------------+
|sexe|  max(sportivite)|          avg(age)|
+----+-----------------+------------------+
|   F|8.683572706695392|49.847036328871894|
|   H|8.663362507588833|48.801785714285714|
+----+-----------------+------------------+

Calculez la moyenne des colonnes vitesse_a_pied et vitesse_a_velo par sexe.

In [64]:
villes.groupBy(villes.sexe).agg({'vitesse_a_pied': 'avg', 'vitesse_a_velo': 'avg'}).show()

+----+-------------------+-------------------+
|sexe|avg(vitesse_a_velo)|avg(vitesse_a_pied)|
+----+-------------------+-------------------+
|   F| 1.1131501228739036|  0.445260049149563|
|   H| 1.8020997668473537| 0.6757874125677557|
+----+-------------------+-------------------+

## 4.3) summary

La méthode summary() permet des faire des calculs statistiques de base sur toutes les colonnes du df.

Appliquez un count et un max sur toutes les colonnes du df et afficher les résultats.

In [67]:
villes.summary('count','max').show()

+-------+----+------------------+-----------------+--------------------+-------------------+-------+-----------------+----+----+-----------------+------------------+
|summary|  id|    vitesse_a_pied|   vitesse_a_velo|                home|            travail| statut|          salaire|sexe| age|       sportivite|velo_perf_minimale|
+-------+----+------------------+-----------------+--------------------+-------------------+-------+-----------------+----+----+-----------------+------------------+
|  count|1083|              1083|             1083|                1083|               1083|   1083|             1083|1083|1083|             1083|              1083|
|    max|6333|3.7766588011416977|10.07109013637786|(lon:9.99 lat:17.81)|(lon:9.90 lat:0.36)|éboueur|80017.45851327667|   H|  84|8.683572706695392| 4.596287556824109|
+-------+----+------------------+-----------------+--------------------+-------------------+-------+-----------------+----+----+-----------------+------------------+

## 4.4) Union de dataframe

#### Ajouter les colonnes les unes à côté des autres : join

In [69]:
villes.printSchema()

root
 |-- id: integer (nullable = true)
 |-- vitesse_a_pied: double (nullable = true)
 |-- vitesse_a_velo: double (nullable = true)
 |-- home: string (nullable = true)
 |-- travail: string (nullable = true)
 |-- sportif: boolean (nullable = true)
 |-- casseur: boolean (nullable = true)
 |-- statut: string (nullable = true)
 |-- salaire: double (nullable = true)
 |-- sexe: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- sportivite: double (nullable = true)
 |-- velo_perf_minimale: double (nullable = true)

In [70]:
villes.join(villes, on="id").printSchema()

root
 |-- id: integer (nullable = true)
 |-- vitesse_a_pied: double (nullable = true)
 |-- vitesse_a_velo: double (nullable = true)
 |-- home: string (nullable = true)
 |-- travail: string (nullable = true)
 |-- sportif: boolean (nullable = true)
 |-- casseur: boolean (nullable = true)
 |-- statut: string (nullable = true)
 |-- salaire: double (nullable = true)
 |-- sexe: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- sportivite: double (nullable = true)
 |-- velo_perf_minimale: double (nullable = true)
 |-- vitesse_a_pied: double (nullable = true)
 |-- vitesse_a_velo: double (nullable = true)
 |-- home: string (nullable = true)
 |-- travail: string (nullable = true)
 |-- sportif: boolean (nullable = true)
 |-- casseur: boolean (nullable = true)
 |-- statut: string (nullable = true)
 |-- salaire: double (nullable = true)
 |-- sexe: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- sportivite: double (nullable = true)
 |-- velo_perf_minimale: double (nullable = true)

#### Ajouter les lignes les unes sous les autres : union

In [71]:
villes.unionByName(villes).count()

2166

## 4.6) Concaténation de colonne : F.concat

In [2]:
from pyspark.sql.types import *
from pyspark.sql import functions as spark_func

Nous allons ici reprendre le df cyclistes.

Utiliser les méthodes withColumn() et F.concat() pour ajouter une colonne au df qui contiendra la concatenation des valeurs des colonnes id et sur_velo.

In [4]:
path = "./data/Cyclistes/*.csv" 
cyclistes = spark.read.format("csv").option("header", "true").load(path, inferSchema=True)

NameError: name 'cycistes' is not defined

In [5]:
cyclistes.take(5)

[Row(id=246, timestamp='2018-01-01 00:01:00', sur_velo=False, velo='False', vitesse=0.02, position='(lon:22.62 lat:9.63)', destination_finale='False'),
 Row(id=246, timestamp='2018-01-01 00:02:00', sur_velo=False, velo='False', vitesse=0.02, position='(lon:22.62 lat:9.63)', destination_finale='False'),
 Row(id=246, timestamp='2018-01-01 00:03:00', sur_velo=False, velo='False', vitesse=0.02, position='(lon:22.62 lat:9.63)', destination_finale='False'),
 Row(id=246, timestamp='2018-01-01 00:04:00', sur_velo=False, velo='False', vitesse=0.02, position='(lon:22.62 lat:9.63)', destination_finale='False'),
 Row(id=246, timestamp='2018-01-01 00:05:00', sur_velo=False, velo='False', vitesse=0.02, position='(lon:22.62 lat:9.63)', destination_finale='False')]

In [18]:
cyclistes.withColumn('id_sur_velo', spark_func.concat(cyclistes.id, cyclistes.sur_velo)).take(5)

[Row(id=246, timestamp='2018-01-01 00:01:00', sur_velo=False, velo='False', vitesse=0.02, position='(lon:22.62 lat:9.63)', destination_finale='False', id_sur_velo='246false'),
 Row(id=246, timestamp='2018-01-01 00:02:00', sur_velo=False, velo='False', vitesse=0.02, position='(lon:22.62 lat:9.63)', destination_finale='False', id_sur_velo='246false'),
 Row(id=246, timestamp='2018-01-01 00:03:00', sur_velo=False, velo='False', vitesse=0.02, position='(lon:22.62 lat:9.63)', destination_finale='False', id_sur_velo='246false'),
 Row(id=246, timestamp='2018-01-01 00:04:00', sur_velo=False, velo='False', vitesse=0.02, position='(lon:22.62 lat:9.63)', destination_finale='False', id_sur_velo='246false'),
 Row(id=246, timestamp='2018-01-01 00:05:00', sur_velo=False, velo='False', vitesse=0.02, position='(lon:22.62 lat:9.63)', destination_finale='False', id_sur_velo='246false')]

# 5) Fonctions udf 
Il est possible d'enregistrer des fonctions python que l'on écrit nous même pour les appliquer sur une colonne d'une dataframe, c'est ce qu'on appelle les udf, pour User Defined Functions.

Voici une fonction qui prend en argument une colonne et calcule le carré des valeurs de cette colonne.
Appliquez cette fonction sur la colonne salaire de votre df. Affichez le résultat.

In [9]:
from pyspark.sql.types import *
from pyspark.sql.functions import udf

@udf(returnType = FloatType())
def cube(colonne):
    return colonne*colonne

In [17]:
villes.withColumn('cube_salaire', cube(villes.salaire)).show()
# eN because there are very long number

+----+--------------------+-------------------+--------------------+--------------------+-------+-------+--------------------+------------------+----+---+-------------------+------------------+------------+
|  id|      vitesse_a_pied|     vitesse_a_velo|                home|             travail|sportif|casseur|              statut|           salaire|sexe|age|         sportivite|velo_perf_minimale|cube_salaire|
+----+--------------------+-------------------+--------------------+--------------------+-------+-------+--------------------+------------------+----+---+-------------------+------------------+------------+
|5251|                0.02|               0.05|(lon:26.60 lat:28...|(lon:21.08 lat:14...|  false|  false|          reserviste|29800.610034665042|   F| 18|                0.1|               0.4| 8.8807635E8|
|5252| 0.14974625830876215|0.37436564577190534|(lon:0.26 lat:42.61)|(lon:36.35 lat:33...|  false|  false|          professeur| 23595.44383981423|   F| 28| 0.7487312915438107|               0.4| 5.5674496E8|
|5253|  0.6309711587089704| 1.6825897565572543|(lon:3.34 lat:13.95)|(lon:24.75 lat:48...|  false|  false|technicien_de_sur...| 18530.14776280135|   H| 65|  2.103237195696568|               0.4|3.43366368E8|
|5254| 0.04009596300649916|0.10692256801733109|(lon:19.54 lat:43...|(lon:38.57 lat:42...|  false|  false|technicien_de_sur...| 18997.60281005325|   H| 26|0.13365321002166386|               0.4|3.60908928E8|
|5255|                0.02|               0.05|(lon:28.51 lat:41...|(lon:17.67 lat:25...|  false|  false|             éboueur|23618.479750220806|   F| 50|                0.1|               0.4| 5.5783258E8|
|5256|  0.8655449921165502|  2.308119978977467|(lon:44.85 lat:45...|(lon:9.18 lat:11.05)|  false|  false|             employe| 19082.30894283764|   H| 57|  2.885149973721834|               0.4|3.64134528E8|
|5257|  0.5879992290928728| 1.4699980727321822|(lon:42.06 lat:43...|(lon:0.51 lat:24.89)|  false|  false|          reserviste|21782.945135729053|   F| 75| 2.9399961454643644|               0.4|4.74496704E8|
|5258|  0.8306610123216782|  2.215096032857809|(lon:24.87 lat:16...|(lon:36.80 lat:48...|  false|  false|               cadre|41451.270468058414|   H| 74|  2.768870041072261|               0.4|1.71820787E9|
|5259| 0.12542885835859416| 0.3344769556229178|(lon:9.07 lat:17.28)| (lon:4.80 lat:9.81)|  false|  false|technicien_de_sur...| 22025.17074872747|   H| 57| 0.4180961945286472|               0.4| 4.8510816E8|
|5260|0.030000000000000006|               0.08|(lon:37.12 lat:43...|(lon:24.72 lat:13...|  false|  false|          reserviste| 38211.06301426453|   H| 24|                0.1|               0.4|1.46008538E9|
|5261|0.030000000000000006|               0.08|(lon:24.33 lat:17...|(lon:38.39 lat:10...|  false|  false|               cadre|32384.038031466876|   H| 73|                0.1|               0.4|1.04872589E9|
|5262|                0.02|               0.05|(lon:43.40 lat:25...|(lon:1.76 lat:18.95)|  false|  false|             employe|18155.392787144123|   F| 81|                0.1|               0.4|3.29618272E8|
|5263|  1.4342769187788869| 3.8247384500770316|(lon:31.39 lat:18...|(lon:16.55 lat:6.41)|  false|  false|             employe| 34479.64091466565|   H| 41| 4.7809230625962895|               0.4| 1.1888457E9|
|5264|  0.6272243144514219| 1.5680607861285547|(lon:14.36 lat:33...|(lon:38.49 lat:41...|  false|  false|             éboueur|17894.342734488273|   F| 50| 3.1361215722571094|               0.4|3.20207488E8|
|5265|  0.5056944896192869|  1.348518638984765|(lon:0.69 lat:27.44)|(lon:6.55 lat:19.14)|  false|  false|          professeur|15272.646527406627|   H| 62| 1.6856482987309562|               0.4|2.33253728E8|
|5266|  0.3167145553844886| 0.7917863884612215|(lon:44.53 lat:46...|(lon:31.66 lat:26...|  false|  false|          professeur| 32340.37164134604|   F| 74|  1.583572776922443|               0.4|1.04589965E9|
|5267|  0.3358134613272747| 0.8955025635393993|(lon:1.01 lat:47.34)|(lon:8.75 lat:29.22)|  false|  false|               cadre|30332.817374659553|   H| 26|  1.119378204424249|               0.4| 9.2007981E8|
|5268|0.030000000000000006|               0.08|(lon:10.91 lat:12...| (lon:4.44 lat:3.66)|  false|  false|technicien_de_sur...| 11069.70965021214|   H| 20|                0.1|               0.4|1.22538472E8|
|5269|    0.94148024700412|  2.510613992010987|(lon:48.82 lat:1.19)|(lon:15.11 lat:0.28)|  false|  false|          professeur|32542.663936348865|   H| 16| 3.1382674900137335|               0.4|1.05902496E9|
|5270|0.030000000000000006|               0.08|(lon:21.87 lat:33...|(lon:37.77 lat:14...|  false|  false|               cadre| 31264.86511628485|   H| 43|                0.1|               0.4| 9.7749178E8|
+----+--------------------+-------------------+--------------------+--------------------+-------+-------+--------------------+------------------+----+---+-------------------+------------------+------------+
only showing top 20 rows

# 6)	Etude de cas : analyse des fichiers de logs des cyclistes

In [19]:
from pyspark.sql.types import *
from pyspark.sql import functions as F
from pyspark.sql.types import *
from pyspark.sql.functions import udf

In [20]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

## 6.1)  Charger la donnée

In [21]:
path = "./data/Cyclistes/*.csv" 
cyclistes = spark.read.format("csv").option("header", "true").load(path, inferSchema=True)
cyclistes.count()

4868396

## 6.2) vérifier le nombre de cycles

Comptez le nombre d'id uniques.

In [24]:
cyclistes.select('id').distinct().count()

251

## 6.3) transformer les timestamp en date

Voici une fonction qui permert de récuperer la date sous forme de chaîne de caractère dans la colonne timestamps pour la transformer en date exploitable en tant que telle.

Créez une nouvelle colonne dans votre df stockant le résultat de cette fonction.

In [26]:
from pyspark.sql.types import TimestampType

@udf(returnType = TimestampType())
def ts_to_date(timestamp):
    from datetime import datetime
    return datetime.strptime(timestamp, "%Y-%m-%d %H:%M:%S")

In [29]:
cyclistes_date = cyclistes.withColumn('date', ts_to_date(cyclistes.timestamp))
cyclistes_date.take(5)

[Row(id=246, timestamp='2018-01-01 00:01:00', sur_velo=False, velo='False', vitesse=0.02, position='(lon:22.62 lat:9.63)', destination_finale='False', date=datetime.datetime(2018, 1, 1, 0, 1)),
 Row(id=246, timestamp='2018-01-01 00:02:00', sur_velo=False, velo='False', vitesse=0.02, position='(lon:22.62 lat:9.63)', destination_finale='False', date=datetime.datetime(2018, 1, 1, 0, 2)),
 Row(id=246, timestamp='2018-01-01 00:03:00', sur_velo=False, velo='False', vitesse=0.02, position='(lon:22.62 lat:9.63)', destination_finale='False', date=datetime.datetime(2018, 1, 1, 0, 3)),
 Row(id=246, timestamp='2018-01-01 00:04:00', sur_velo=False, velo='False', vitesse=0.02, position='(lon:22.62 lat:9.63)', destination_finale='False', date=datetime.datetime(2018, 1, 1, 0, 4)),
 Row(id=246, timestamp='2018-01-01 00:05:00', sur_velo=False, velo='False', vitesse=0.02, position='(lon:22.62 lat:9.63)', destination_finale='False', date=datetime.datetime(2018, 1, 1, 0, 5))]

## 6.4) Durée des trajets par id.

A partir d'ici, il s'agit de traiter votre donnée pour récupérer la durée de chaque trajet effectué par chaque id.

1) trouvez les dates min/max par état de sur_velo, puis par id ET par état de sur_velo.

In [31]:
cyclistes_date.groupBy(cyclistes_date.sur_velo).agg({'date': ['min', 'max']}).take(50)

Py4JJavaError: An error occurred while calling o173.agg.
: java.lang.ClassCastException: class java.util.ArrayList cannot be cast to class java.lang.String (java.util.ArrayList and java.lang.String are in module java.base of loader 'bootstrap')
	at org.apache.spark.sql.RelationalGroupedDataset.$anonfun$agg$2(RelationalGroupedDataset.scala:201)
	at scala.collection.TraversableLike.$anonfun$map$1(TraversableLike.scala:238)
	at scala.collection.immutable.Map$Map1.foreach(Map.scala:128)
	at scala.collection.TraversableLike.map(TraversableLike.scala:238)
	at scala.collection.TraversableLike.map$(TraversableLike.scala:231)
	at scala.collection.AbstractTraversable.map(Traversable.scala:108)
	at org.apache.spark.sql.RelationalGroupedDataset.agg(RelationalGroupedDataset.scala:201)
	at org.apache.spark.sql.RelationalGroupedDataset.agg(RelationalGroupedDataset.scala:220)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.base/java.lang.Thread.run(Thread.java:834)

2) Le résultat n'est pas trés pertinent, il faudrait plutôt le début et la fin de chaque trajet par id. Pour cela, il faudrait détecter les changements d'états "sur_vélo".
Utilisez la classe Window() et la fonction F.lag() pour créer une nouvelle colonne que vous appellerez changement, contenant un 0 si l'état précedent de sur_velo est le même et un 1 si l'état vient de changer (fonction changement() ci-dessous) pour chaque id.

In [ ]:
from pyspark.sql.functions import udf

In [ ]:
@udf(returnType = IntegerType())
def changement(etat_actuel, etat_precedent):
    """
    Détecte si les deux états sont différent.
    
    Parametres :
        etat_actuel : valeur sur la ligne courante
                      renvoyée par F.lag (0)
        etat_precedent : valeur sur la ligne précédente
                      renvoyée par F.lag(1)
    Return: 0 s'ils sont égaux, 1 s'il y a une différence
    """
    if etat_precedent == None:
        return 0
    if etat_precedent == etat_actuel:
        return 0
    if etat_actuel != etat_precedent:
        return 1

In [ ]:
from pyspark.sql.window import Window

3) Grâce à la fonction window appliquez la fonction somme() sur la colonne changement pour numeroter les trajets pour chaque id et stocker les résulats dans une nouvelle colonne appelée numero_de_trajet.

In [ ]:
@udf(returnType = IntegerType())
def somme(indice_actuel, indice_precedent):
    if indice_precedent == None:
        return 0
    return indice_actuel + indice_precedent

4) Il suffit maintenant de repêter la première étape, c'est a dire récupérer la début et la fin de chaque trajet pour chaque id. Puis calculer la durée des trajets.

# 7) Datavisualisation

Convertissez votre dataframe pyspark en dataframe pandas.

In [ ]:
import seaborn as sns
%matplotlib inline

A l'aide de la librairie seaborn, réalisez un graphique en barre montrant la durée de tout les trajets.

Faire le même graphique mais cette fois-ci, faire en sorte qu'on puisse choisir un id et afficher seulement les trajets de cet id.

Sauvegardez votre dataset trajets au format csv dans le dossier data.